<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ANGIFODE - DETAILS DETACHEMENT</title>
</head>
<body>
<style>
    body {
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.9)
        ), url('../../public/asset/images/angifode.png');
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100%;
    }

    div{
        color: #0a53be;
    }
</style>

    <div>Bonjour</div>

</body>
</html>