<table class="header-table">
    <tr>
        <td>
            <div>
                <p><b>REPUBLIQUE DU CAMEROUN</b></p>
                <small class="devise">Paix-Travail-Patrie</small><br>
                <small>--------</small>
                <p>MINISTERE DES FINANCES</p>
                <small>--------</small>
                <p>SECRETARIAT GENERAL</p>
                <small>--------</small>
                <p>DIRECTION GENERALE DU BUDGET</p>
                <small>--------</small>
                <p>DIRECTION DE LA DEPENSE DE PERSONEL ET DES PENSIONS</p>
                <small>--------</small>
                <p><b>SOUS-DIRECTION DES PENSIONS ET DES RENTES VIAGERES</b></p>
                <small>--------</small>
                <p>SERVICE DES RENTES VIAGERES, DES RISQUES PROFESSIONEL ET DE LA CONSTITUTION DES DROITS A PENSION</p>
                <small>--------</small>
                <p>ANGIFODE</p>
                <small>--------</small>
            </div>
        </td>
        <td>
            <img src="{{ asset('asset/images/arms_cameroon.png') }}" class="mx-auto d-block" width="120" height="120">
        </td>
        <td>
            <div>
                <p><b>REPUBLIC OF CAMEROON</b></p>
                <small>Peace-Work-Fatherland</small><br>
                <small>--------</small>
                <p>MINISTRY OF FINANCES</p>
                <small>--------</small>
                <p>SECRETARIAT GENERAL</p>
                <small>--------</small>
                <p>DIRECTORATE GENERAL OF BUDGET</p>
                <small>--------</small>
                <p>DEPARTMENT OF PERSONNEL EXPENDITURE AND PENSION</p>
                <small>--------</small>
                <p>SUB-DEPARTMENT OF PENSIONS AND LIFE ANNUITIES</p>
                <small>--------</small>
                <p>LIFE ANNUITIES,OCCUPATIONAL RISKS AND CONTITUTION OF PENSION RIGHTS SERVICE</p>
                <small>--------</small>
                <p>ANGIFODE</p>
                <small>--------</small>
            </div>
        </td>
    </tr>
</table>