@charset "utf-8";
/* CSS Document */
input:focus {
    background-color: yellow;
}
.menu2 {
	padding: 0;
	list-style: none;
	margin: 0px;
}
.menu2 li {
	padding: 0;
	float: left;
	position: relative;
	text-align: center;
	margin-top: 0;
	margin-right: 12px;
	margin-bottom: 0;
	margin-left: 2px;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.menu2 a {
	display: block;
	color: #000000;
	width: 160px;
	text-decoration: none;
	font-weight: bold;
	padding-top: 14px;
	padding-right: 5px;
	padding-bottom: 14px;
	padding-left: 0px;
	
}
.menu2 li em {
	font-weight: normal;
	background: url(../images/hover.png) no-repeat;
	width: 180px;
	height: 45px;
	position: absolute;
	top: -85px;
	left: -15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 2;
	display: none;
}
