html { height: 100%; }
body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
    background: #2599C2;
    padding: 15px;
}

/**
* {
    margin: 0;
}
html, body {
    height: 100%;
}
#main {
    min-height: 100%;
    /* equal to footer height *
    margin-bottom: -50px;
}
#main:after {
    content: "";
    display: block;
}
footer, #main:after {
    /* .push must be the same height as footer *
    height: 50px;
}

 */