* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#main{
    min-height: 100%;
    height: auto;
    height: 100%;
    margin-bottom: -50px;
}

footer, #main::after {
    height: 50px;
}