{% extends 'base.html.twig' %}

{% block title %}Page non trouvée !!!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/angifode.css') }}"/>{% endblock %}
{% block body %}
    <style>
        body {
            background-image: linear-gradient(
                    rgba(255, 255, 255, 0.95),
                    rgba(255, 255, 255, 0.95)
            ), url("{{ asset('asset/images/angifode.png') }}");
            background-position: center;
            background-color: white;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
    <main id="div1" class="container mt-5">
        <section class="row">
            <div class="col-6">
                <h3>ANGIFODE: Page non trouvée !!!</h3>
                <p>La page à laquelle vous tentez d'accéder n'a pas été trouvée.</p>
                <a href="{{ path('app_home') }}" title="Retournez à la page d'acceuil" class="btn btn-success btn-sm">
                    <span class="font-weight-bold">Cliquez ici pour retrouner à la page d'accueil.</span>
                </a>
            </div>
        </section>
    </main>
{% endblock %}